.vscode
make.sh
*.mtx
*.json
!data/graph/pdf_test/pdf_test.mtx
*.tar.gz
*.zip
*.sg
*.wsg
converter
!*_result.mtx
!data/graph/grb_ppt/grb_ppt.mtx
nohup.out
run.sh
*.aux
citelist*
.cache
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# Performance data log
# *.log
*.csv
*.xlsx

